* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.header {
  background-color: palevioletred;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
  width: 100%;
}
.header-box {
  background-color: pink;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}
.header-box:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}
.side {
  width: 300px;
  background-color: greenyellow;
}
.main-content {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: green;
}
.main-box {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;

}

.footer{
  display: flex;
  padding: 20px;
  background-color: blue;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-box {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  background-color: skyblue;
  margin: 10px;
}
